:root{
  --background: #ffffff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #ffffff;
}

[data-theme="dark"]{
  --background: #000000;
  --text-primary: #ffffff;
  --button-bg: #ffffff;
  --button-text: #000000;
}

.light-dark-mode{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.3s ease-in-out;
}

.light-dark-mode p{
  color: var(--text-primary);
  font-size: 40px;
}

.light-dark-mode button{
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-weight: bold;
}

.light-dark-mode button:hover{
  background-color: var(--button-text);
  color: var(--button-bg);
  transition: all 0.3s ease-in-out;
}

.light-dark-mode .container p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.light-dark-mode .container button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
